<div class="container mt-4">
  <h2 class="mb-4">Orders</h2>
  <div class="row">
  <button type="button" class="btn btn-outline-success btn-lg" (click)="navigateToProducts()">Go to all products</button>

    <div class="list-group">
      <div *ngFor="let i = index; let order of orders" (click)="navigateToOrderDetails(i)"
        class=" col-md-8 col-sm-10 p-4 list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{order.OrderDate}}</h5>
          <small>{{i+1}}</small>
        </div>
        <p class="mb-1" style="color: green;">Payment Type: {{order.PaymentType}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let product of order.Products">
            Product Id: {{product.ProductId}} - Quantity: {{product.Quantity}}</li>
        </ul>
        <p class="card-text" style="color: rgb(187, 8, 8);">Total price {{order.total}}</p>
      </div>
    </div>
  </div>
</div>
